{% extends "base.html" %}

{% block title %}Ordens de Serviço{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between mb-3">
        <h2>Ordens de Serviço</h2>

        <a href="/ordem-servico/nova"
           class="btn btn-success">

            Nova Ordem

        </a>
    </div>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Veículo</th>
                <th>Status</th>
                <th>Diagnóstico</th>
                <th>Data Abertura</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>

            {% for os in ordens %}

            <tr>

                <td>{{ os.id }}</td>

                <td>{{ os.cliente_nome }}</td>

                <td>
                    {{ os.marca }}
                    {{ os.modelo }}
                    ({{ os.placa }})
                </td>

                <td>{{ os.status }}</td>

                <td>{{ os.diagnostico }}</td>

                <td>{{ os.data_abertura }}</td>

                <td>
                    <a href="/ordem-servico/{{ os.id }}/atualizar-status" class="btn btn-primary btn-sm">
                        <i class="bi bi-pencil-square"></i> Atualizar Status
                    </a>
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}
